# Important: 127.0.0.1 should be replaced by the external ip address of the machine
version: "3"

services:
  traefik:
    image: "traefik:v2.10"
    container_name: "traefik"
    command:
      #- "--log.level=DEBUG"
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.websecure.address=:443"
      - "--certificatesresolvers.myresolver.acme.tlschallenge=true"
      - "--certificatesresolvers.myresolver.acme.storage=/letsencrypt/acme.json"
    ports:
      - "443:443"
    volumes:
      - "letsencrypt_data:/letsencrypt"
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
    restart: always

  gatewayd:
    image: fedimint/gatewayd:v0.4.1
    command: gatewayd lnd
    environment:
      - FM_GATEWAY_DATA_DIR=/gateway_data
      - FM_GATEWAY_LISTEN_ADDR=0.0.0.0:80
      - FM_GATEWAY_API_ADDR=https://gatewayd.${FM_GATEWAY_DOMAIN}
      - FM_GATEWAY_PASSWORD=${FM_GATEWAY_PASSWORD}
      # Configured gateway routing fees Format: <base_msat>,<proportional_millionths>
      - FM_GATEWAY_FEES=${FM_GATEWAY_FEES_BASE},${FM_GATEWAY_FEES_PROPORTIONAL}
      - FM_LND_RPC_ADDR=https://lnd:10009
      - FM_LND_TLS_CERT=/lnd_data/tls.cert
      - FM_LND_MACAROON=/lnd_data/data/chain/bitcoin/signet/admin.macaroon
    volumes:
      - gateway_datadir:/gateway_data
      - lnd_datadir:/lnd_data:ro
    depends_on:
      - lnd
    restart: always
    platform: linux/amd64
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.gatewayd.loadbalancer.server.port=80"
      - "traefik.http.routers.gatewayd.rule=Host(`gatewayd.${FM_GATEWAY_DOMAIN}`)"
      - "traefik.http.routers.gatewayd.entrypoints=websecure"
      - "traefik.http.routers.gatewayd.tls.certresolver=myresolver"

  gateway-ui:
    image: fedimintui/gateway-ui:0.4.1
    environment:
      - PORT=80
      - REACT_APP_FM_GATEWAY_API=https://gatewayd.${FM_GATEWAY_DOMAIN}
      - REACT_APP_FM_GATEWAY_PASSWORD=${FM_GATEWAY_PASSWORD}
    depends_on:
      - gatewayd
    restart: always
    platform: linux/amd64
  labels:
      - "traefik.enable=true"
      - "traefik.http.services.gateway-ui.loadbalancer.server.port=80"
      - "traefik.http.routers.gateway-ui.rule=Host(`gateway-ui.${FM_GATEWAY_DOMAIN}`)"
      - "traefik.http.routers.gateway-ui.entrypoints=websecure"
      - "traefik.http.routers.gateway-ui.tls.certresolver=myresolver"

  lnd:
    image: lightninglabs/lnd:v0.18.2-beta
    entrypoint: bash
    command:
      - -c
      - lnd --bitcoin.active --bitcoin.signet --bitcoin.dnsseed=0 --bitcoin.node=bitcoind --protocol.wumbo-channels --bitcoind.rpchost=bitcoind --bitcoind.rpcuser=bitcoin --bitcoind.rpcpass=bitcoin --bitcoind.zmqpubrawblock=tcp://bitcoind:48332 --bitcoind.zmqpubrawtx=tcp://bitcoind:48333 --listen=0.0.0.0:9735 --rpclisten=0.0.0.0:10009 --restlisten=0.0.0.0:8080 --tlsextradomain=lnd --noseedbackup
    ports:
      - "10009:10009"
      - "0.0.0.0:9735:9735"
    volumes:
      - lnd_datadir:/root/.lnd
    depends_on:
      - bitcoind
    restart: always

  bitcoind:
    image: fedimint/mutinynet-bitcoind:master
    command: --rpcuser=bitcoin --rpcpassword=bitcoin -zmqpubrawblock=tcp://[::]:48332 -zmqpubrawtx=tcp://[::]:48333
    ports:
      - 0.0.0.0:38333:38333
    volumes:
      - "bitcoin_datadir:/root/.bitcoin"
    restart: always
    platform: linux/amd64

volumes:
  bitcoin_datadir:
  lnd_datadir:
  gateway_datadir:
